.homescreen {
    
    background-image: url(../images/homescreen-background.jpg) !important;
    background-size: cover;
    height: 100%;
}

.startup {
    background: url(../images/phone_startup.png) top center;
    background-size: cover;
    background-color: #262626;
}

.center-wrapper {
        text-align: center;
}
.center-wrapper * {
        margin: 0 auto;
}
.headerLogo {
        background-image: url(../images/header_logo.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top center;
        font-size: 1.7em !important;
        margin-bottom: 0.4em !important;
        margin-top: 0.1em !important;
}
.headerLogo span {
        display: none;
}
.homeScreenContent {
    background: none;
}
.veho-button-wrapper {
    text-align: center;
}

/*  OVER-RIDES */
.ui-header {
    -webkit-box-shadow: 0px 3px 9px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 3px 9px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 3px 9px rgba(50, 50, 50, 0.5); 
}