<?xml version="1.0" encoding="UTF-8"?>
<!--
	This is the root element containing XML schema namespace settings, a unique
	id for this application (use reverse domain name to ensure unique) and a
	version attribute to identify the version of this app on PhoneGap Build. The
	versionCode attribute is optional and is Android specific: it's the version number
	shown on the Google Play store.
-->
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="com.vehotrans.vehomob.v1"
        versionCode="1"
        version="1.0.0">
  <!-- 
	  The name and description are used in the PhoneGap Build website
  -->
  <name>Vehotrans Mobile</name>

  <description>Mobile extension of the Vehotrans Online Freight Exchange</description>

	<!--
		Identifies the author and their contact details. The email is displayed on the
		PhoneGap Build website
	-->
  <author href="http://www.vehotrans.com"
          email="lukas.gamble@vehogroup.com">
            Lukas Gamble
  </author>

  <!-- 
     We can specify the icons to use for different platforms. In this case we
     have only included the Android icons (for the launcher screen) and at
     four levels of resolution so that the correct version will be used depending
     on the device screen. Note that PhoneGap will also look for a default icon
     in the project's top level folder called icon.png.
  --> 
  <icon src="assets/images/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
  <icon src="assets/images/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
  <icon src="assets/images/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
  <icon src="assets/images/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />
  

	<!--
		An example of a preference setting. This preference will prevent landscape mode.
		By default both orientations are allowed.
	-->
  <preference name="orientation" value="portrait"/>
  <preference name="phonegap-version" value="2.9.0" />
  <preference name="fullscreen" value="true" />
  <preference name="ios-statusbarstyle" value="black-opaque" />
  <preference name="show-splash-screen-spinner" value="true" />

	<!--
		Use the following if you want a launch splash screen to appear briefly
	-->
  
 
 
  
  
<gap:splash src="assets/images/splashscreens/appleTouchStartupImage320x480.png" gap:platform="ios" width="320" height="480" />

<gap:splash src="assets/images/splashscreens/appleTouchStartupImage640x960.png" gap:platform="ios" width="640" height="960" />

<gap:splash src="assets/images/splashscreens/appleTouchStartupImage640x1136.png" gap:platform="ios" width="640" height="1136" />

<gap:splash src="assets/images/splashscreens/appleTouchStartupImage1024x748.png" gap:platform="ios" width="1024" height="748" />

<gap:splash src="assets/images/splashscreens/appleTouchStartupImage768x1004.png" gap:platform="ios" width="768" height="1004" />

<!-- retina iPad support: PhoneGap 2.5.0+ only -->
<gap:splash src="assets/images/splashscreens/appleTouchStartupImage2048x1496.png" gap:platform="ios" width="2048" height="1496" />

<gap:splash src="assets/images/splashscreens/appleTouchStartupImage1536x2008.png" gap:platform="ios" width="1536" height="2008" />



	
	<plugin name="Geolocation" value="org.apache.cordova.GeoBroker" />
	<plugin name="Notification" value="org.apache.cordova.notification.Notification" />
	<!--<plugin name="Notification" value="CDVNotification" />-->
	
	<!--<feature name="http://api.phonegap.com/1.0/geolocation" />-->
	
	
	
	<!--
  <plugin name="Geolocation" value="org.apache.cordova.GeoBroker"/>
  <plugin name="Device" value="org.apache.cordova.Device" />
  <plugin name="Capture" value="org.apache.cordova.Capture"/>
  <plugin name="Storage" value="org.apache.cordova.Storage" />
  -->

</widget>