/* all of these paths will need to change for production! */


.homescreen {
    
    background-image: url(../images/homescreen-background.jpg) !important;
    background-size: cover;
    height: 100%;
}

.startup {
    background: url(../images/phone_startup.png) top center;
    background-size: cover;
    background-color: #262626;
}

.center-wrapper {
        text-align: center;
}
.center-wrapper * {
        margin: 0 auto;
}
.headerLogo {
        background-image: url(../images/header_logo.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top center;
        font-size: 1.7em !important;
        margin-bottom: 0.4em !important;
        margin-top: 0.1em !important;
}
.headerLogo span {
        display: none;
}
.homeScreenContent {
    background: none;
}
.veho-button-wrapper {
    text-align: center;
}

/* SLIDE-OUT SHADOW */
.pages {
    -webkit-box-shadow:  -5px -5px 5px 5px rgba(0, 0, 0, 0.1);
    box-shadow:  -5px -5px 5px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:  -5px -5px 5px 5px rgba(0, 0, 0, 0.1);
    -ms-box-shadow:  -5px -5px 5px 5px rgba(0, 0, 0, 0.1);
    -o-box-shadow:  -5px -5px 5px 5px rgba(0, 0, 0, 0.1);
}

/*  OVER-RIDES */
.ui-header {
    /*-webkit-box-shadow: 0px 3px 9px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 3px 9px rgba(50, 50, 50, 0.5);
    -ms-box-shadow:    0px 3px 9px rgba(50, 50, 50, 0.5);
    -0-box-shadow:    0px 3px 9px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 3px 9px rgba(50, 50, 50, 0.5); */
}

.ui-body-a, .ui-overlay-a {
    /*background-image: none;*/
   /* background-image: -webkit-gradient(linear,left top,left bottom,from( #444 ),to( rgba(34, 34, 34, 0) ));*/

    background-size: cover;
    background-image: -webkit-linear-gradient(top, rgba(68,68,68,1) 0%, rgba(34, 34, 34, 1) 65%);
    background-image: -moz-linear-gradient(top, rgba(68,68,68,1) 0%, rgba(34, 34, 34, 1) 65%);
    background-image: -ms-linear-gradient(top, rgba(68,68,68,1) 0%, rgba(34, 34, 34, 1) 65%);
    background-image: -o-linear-gradient(top, rgba(68,68,68,1) 0%, rgba(34, 34, 34, 1) 65%);
    background-image: linear-gradient(top, rgba(68,68,68,1) 0%, rgba(34, 34, 34, 1) 65%);
    
}

.ui-content.ui-body-a {
    background-image: none;
}
